%div.col-md-10.col-md-offset-1{class:'priority-block'}
  %a.btn.btn-default.btn-priority-back{'ui-sref': 'home'} Back
  %img{src:'assets/color_wheel.png', 'id':'colorwheel', 'style':'display:none;', width:'500', height:'500'}
  %div.col-md-12
    %div.col-sm-6
      %canvas{'colorpicker':'', 'class':'colorpicker'}
    %form.col-sm-6{'ng-submit':'priorityAction()', 'name':'priorityForm'}
      %div.alert.alert-danger{'ng-show':'err.isError'}
        %div{'ng-repeat':'(field, error) in err.errors'}
          {{field}} {{error[0]}}
      %md-input-container.md-block
        %input{'type':'text', placeholder:'Name', 'ng-model':'priority.name', 'minlength':'1', 'maxlength':'12'}
      %div.form-picker
        %input.value-picker{'type':'range', 'ng-model':'priority.value', 'min':'1', 'max':'999'}
        %div.picker
          %a.btn.btn-colorpicker{'style':'background:{{priority.color}}'}
            &nbsp;
          %span
            Value:
            %span{'ng-bind':'priority.value'}
          %input.btn.btn-success{'type':'submit', value:'Create','ng-hide':'editMode', 'ng-disabled':'priorityForm.$pristine || priorityForm.$invalid'}
          %input.btn.btn-success{'type':'submit', value:'Update', 'ng-show':'editMode'}
          %a.btn.btn-danger.glyphicon.glyphicon-remove{'ng-click':'undoEdit()', 'ng-show':'editMode'}
  %div.priority-list.col-xs-12{'ng-repeat':"priority in priorities.list | orderBy:'-value'"}
    %span{'ng-bind':'priority.name', 'ng-click':'setPriority(priority)'}{{priority.value}}
    %div
      %span{'ng-bind':'priority.value'}
      %button.btn.btn-colorpicker{'style':'background: {{priority.color}}', 'ng-click':'setPriority(priority)'} &nbsp;
      %button.btn.btn-danger.glyphicon.glyphicon-remove{'ng-click':'deletePriority(priority)'}

