/ %div.col-sm-6.col-sm-offset-3{'class':'forgotClass'}
/   %h2 Enter your email
/   %form{'name':'email', 'ng-submit':'sendEmail()'}
/     %md-input-container.md-block
/       %input{'type':'email', 'placeholder':'Email','ng-model':'user.email', 'required':'required', 'name':'emailField', 'autocomplete':'off', 'minlength':'6', 'maxlength':'30'}
/     %input.btn.btn-block.btn-primary{'type':'submit', 'ng-disabled':'email.$invalid', 'value':'Go!'}
%div.col-xs-6.col-xs-offset-3.authclass{'ng-hide':'sended.sended'}
  %form{name:'forgotForm', 'ng-submit':'confirm()'}
    %md-input-container.md-block
      %label {{ 'email' | translate }}
      %input{'type':'email','ng-model':'user.email', 'required':'required', 'name':'emailField', 'ng-pattern':'emailPattern', 'autocomplete':'off'}
      %div.errors{'ng-show':'sended.error'}
        {{'email_dont_exist' | translate }}
    %md-button.md-raised.md-primary{'type':'submit', 'ng-disabled':'forgotForm.$invalid'}
      {{ 'send_instructions' | translate }}!
%div.container.col-sm-6.col-sm-offset-3.alert.alert-success.reg-success{'ng-show':'sended.sended'}
  {{ 'reset_instructions_sent' | translate }}
