%div.col-sm-6.col-sm-offset-3{'class':'forgotClass'}
  %h2 Enter new password
  %form{'name':'password', 'ng-submit':'confirmPassword()'}
    %md-input-container.md-block
      %input{'type':'password', 'placeholder':'Password', 'ng-model':'user.password', 'minlength':'8', 'maxlength':'72', 'name':'passwordField', required:'required', 'autocomplete':'off'}
    %md-input-container.md-block
      %input{'type':'password', 'placeholder':'Password confirmation', 'ng-model':'user.password_confirmation', 'ng-pattern':'user.password', name:'passwordConfirmationField', required:'required'}
    %input.btn.btn-block.btn-primary{'type':'submit', 'ng-disabled':'password.$invalid', 'value':'Go!'}
