%div.container.col-md-6{'ng-controller': 'SignInCtrl'}
  %h1 Sign In
  %form
    = label :user, :email, 'Email'
    = text_field :user, :email
    = label :user, :password
    = password_field :user, :password
    %input{type: 'submit', value: 'Sign in'}
    %p
      %a{ href: '#', title: 'I forgot my password' }
        Forgot your password?
    %p
      %a{ href: '#', title: 'SignUp Page' }
        You are unregistred??
    %p
      =link_to image_tag( 'facebook.jpeg'), 'http://www.facebook.com'
      %a{ href: 'http://www.facebook.com', title: 'Sign In via Facebook' }
        Sign in via Social network
