
<div class='row' style="background:#eee">
	<div class='col-md-6'>
		<a href="" class='btn btn-primary'>Testing BootStrap</a>
		<h1>Hello, my dear friends. This is index.html file.</h1>
		<h3>So if you can see this I complete my task</h3>
	</div>
</div>
