%div.col-sm-12{'style': 'padding: 0;'}
  .groups
    %div.block-title
      %h3 {{ 'groups' | translate }}
    %div.slide{'ng-class': 'showGroups'}
      %form.add-group-form{'ng-submit': 'addGroup()'}
        %div
          .alert.alert-danger{'ng-show': 'errorSettings.groupErrHandle'}
            %p{'ng-bind': 'errorSettings.groupErrMsg'}
          .input-group
            %input.form-control{'ng-model': 'group.name', type: 'text'}/
            %span.input-group-btn
              %input.btn.btn-secondary.add-button{name: 'add-group', type: 'submit', value: 'Add'}/

      .group-list-container
        %md-list-item{'class': 'group-list', 'ng-drop': 'true', 'data-drop': "true", 'data-jqyoui-options': "{revert: 'invalid', helper: 'clone'}", 'jqyoui-droppable': "{onDrop:'onDropDefaultGroup()'}", 'ng-click': 'filterByDefaultGroup()'}
          %md-tooltip{'md-direction': "right"}
            {{ 'deleteFromGroup' | translate }}
          %div.group-name
            {{ 'allGroups' | translate }}
        %md-list-item{'class': 'group-list','ng-repeat': 'group in groups.list | orderBy: \'-created_at\'', 'ng-drop': 'true', 'data-drop': "true", 'data-jqyoui-options': "{revert: 'invalid', helper: 'clone'}", 'jqyoui-droppable': "{index: {{$index}}, onDrop:'onDropGroup(group, $index)'}", 'ng-click': 'filterByGroup(group)', 'ng-dblclick': 'showAdvanced($event, group)'}
          %div.group-name
            {{group.name}}
          %span{'flex': ""}
          %span.glyphicon.glyphicon-pencil{"ng-click": "showAdvanced($event, group)"}
