%md-dialog
  %md-dialog-content
    %md-toolbar
      %h2 {{ 'newTask' | translate }}
    %form{'ng-submit': 'addTask(attachment)'}
      .add-task
        %p
          .alert.alert-danger{'ng-show': 'errHandle'}
            %p {{ 'blankTaskName' | translate }}
          %md-input-container.md-block
            %label {{ 'editTasksName' | translate }}
            %input{'ng-model': 'task.name', type: 'text'}
          %md-input-container.md-block
            %label {{ 'editTasksDescription' | translate }}
            %textarea{columns: '1', 'ng-model': 'task.description', rows: '5'}
        %label.label.label-default.label-link
          %a{'ui-sref':'priority'} {{ 'priority' | translate }}
          %md-tooltip {{ 'editPrioritiesLink' | translate }}
        %md-input-container
          %md-select{'ng-model': 'task.priority_id', 'aria-label': 'Priority'}
            %md-option{ 'ng-repeat':'priority in priorities.list', value: '{{priority.id}}'}
              %span.priority-style{'style':'background:{{priority.color}}'}
              %span{'ng-bind': 'priority.name'}
        %label.label.label-default {{ 'status' | translate }}
        %md-input-container
          %md-select{'ng-model': 'task.status', 'aria-label': 'Status'}
            %md-option{value: '1'} {{ 'inProgress' | translate }}
            %md-option{value: '2'} {{ 'setAside' | translate }}
        %label.label.label-default Category
        %md-input-container
          %md-select{'ng-model': 'task.category_id'}
            %md-option{ 'ng-repeat':'category in categories.list', value: '{{category.id}}'}
              {{category.name}}
        %label.label.file-upload-label
          %span.input-label-button
          %mark.glyphicon.glyphicon-upload
            %md-tooltip{'md-direction': 'bottom'} {{ 'addAttachment' | translate }}
          %input{type: 'file', 'ngf-select':'select(attachment)', 'ng-model':'attachment'}
        %md-dialog-actions
          %md-button.md-raised.save-task-btn{name: 'add-task', 'ng-click': 'addTask(attachment)'} {{ 'createTaskButton' | translate }}
