.authclass {
  form {
    margin-bottom: 15px;
    input.ng-dirty.ng-valid.md-input {
      border-bottom:2px solid #2B2;
    }
    input.ng-dirty.ng-invalid.md-input {
      border-bottom:2px solid #B22;
    }
    input[type='submit'], button.md-raised {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
      font-weight: bold;
      color:#fff;
      background: rgb(108,91,123) !important;
      &:disabled {
        opacity: 0.5;
        color: #fff !important;
      }
    }
  }
}
.errors{
  font-weight: bold;
  text-indent: 10px;
  line-height: 20px;
  font-size: 1em;
  color: #ff0000;
}
.reg-success {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-family: Tahoma;
  opacity: 0.7;
}
.sign-up-container {
  padding:0 !important;
  h1 {
      padding-top:10px;
      font-size: 30px;
      text-align: center;
      font-family: Tahoma;
    }
}
