// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-category {
  margin: 10px auto 0 20px;
  padding: 7px 10px 0 10px;
  display: none;
} 

.category-name a {
  color: #33332D;
  font-size: 24px;
  text-decoration: none;
  padding: 5px;
}

.category-name a:hover {
  color: #449D44;
  text-decoration: none;
}

.category-delete {
  color: #C9302C;
  border-color: #AC2925;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.category-input {
  height: 32px;
}

.add-new {
  height: 35px;
  margin-top: 20px;
  margin-left:36px;
  font-size: 24px;
}

.category-plus {
  float: right;
  padding-top: 2px;
  font-size: 24px;
  cursor: pointer;
}

.category-plus:hover {
  color: #0CBB18;
}

.all-categories {
  height: 208px;
  overflow-y: scroll;
  margin-top: 5px;
}

.btn-category{
  font-size: 22px !important;
  font-weight: bold !important;
  height: 34px;
  padding-top: 0px !important;
}

