// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  margin: 15px 15px 0 15px;
  padding: 10px;
}

.add-group-form {
  margin: 15px 0 0 0;
}

.delete-btn {
  float: right;
  background-color: transparent;
}

.group-name { 
  a {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
}

.group-list {
  border-bottom: solid 1px #c9c9c9;
  margin-top: 15px;
  padding-bottom: 10px;
}

.slide{
  display: none;
}

[ng-drop].drag-enter {
  border-bottom: 2px solid red;
}