// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  margin: 15px 15px 0 15px;
  padding: 10px;
}

.add-group-form {
  margin: 15px 0 0 0;
}

.delete-btn {
  float: right;
  background-color: transparent;
}

.group-name { 
  a {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
}
.group-list-container{
  height: 250px!important;
  overflow-y: scroll!important;
}
.group-list {
  border-bottom: solid 1px #c9c9c9;
}


.slide{
  display: none;
}

[ng-drop].drag-enter {
  border-bottom: 2px solid red;
}

.edit-group-content {
  margin: 5%;
  text-align: center;
}

.edit-group-button {
  display: inline !important;
  
  margin: 10% 0 0 0% !important;
}

.edit-group-button:last-child {
  margin-left: 50%;
}

.repeated-item {
  text-align: left;
  height: 280px;
  overflow: visible;
}