@font-face {
  font-family: 'Bitter';
  src: url(Bitter-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'BitterBold';
  src: url(Bitter-Bold.otf) format("opentype");
}

.head {
  border-bottom: 2px solid #355c7d;
  margin-bottom: 0;
  background: #355c7d;
}

body {
  background-color: #e0e0e0!important;
}

#logo {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  float: left;
  text-decoration: none;
  width: 100px;
}
#logo:hover {
  color: #55acee;
}
.head_li {
  font-size: 20px;
}
ul li .eng {
  font-size: 17px;
  color: #fff !important;
  height: 49px;
}
ul li .eng:hover {
  color: #55acee !important;
  border-bottom: 2px solid #55acee;
  cursor: pointer;
}
.choose {
  color: white;
  font-size: 17px;
  float: left;
  padding-top: 8px;
  list-style-type: none;
}
.choose a {
  color: white;
  font-size: 17px;
  float: left;
  margin-top: 5px;
  margin-right:20px;
}
.choose a:hover {
  text-decoration: none;
  color: #55acee;
  cursor: pointer;
}
.choose_xs {
  text-align: center;
  padding-left: 11%;
}

@media only screen and (max-width : 768px) {
  .choose_xs {
    padding-top: 0px;
    padding-left: 20%;
    margin-bottom: 0;
  }

  .line {
    width: 0px;
  }
}

@media only screen and (max-width : 768px) {
  .choose_xs {
    padding-top: 0px;
    padding-left: 20%;
    margin-bottom: 0;
  }

  .line {
    width: 0px;
  }
}

#user {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: left;
  margin: 0px;
}
#friends {
  font-size:20px;
  outline: 0;
}
#names {
  font-size: 17px;
  color: white;
}
.profile {
  float: right;
  margin-right: 105px;
}
#main-section {
  margin-top: 52px;
}
@media only screen and (max-width : 768px) {
  .choose_xs {
    padding-top: 0px;
    padding-left: 20%;
  }
  .line {
    width: 0px;
  }
  .profile {
    padding: 0px;
    margin: 0;
    border: 0;
  }
  header {
    margin-top: -20px;
  }
  .language {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 200px;
  }

}

    .tasks h2 {
      margin-left: 60px;
    }

  @keyframes sidebar {
    0% {
      left: -250px;
      display: block;
    }
    100% {
      left: 0;
    }
  }
  @keyframes sidebar-close {
    0% {
      left: 0;
    } 
    100% {
      left: -250px;
      display: none;
    }
  }

  .categories, .groups {
    width: 92%;
    margin-left: 10px;
  }

  .slide-button {
    position: absolute;
    width: 45px;
    height: 50px;
    outline: none;
    border: none;
    margin: 15px 0 0 7px;
    font-size: 35px;
    color: white;
    float: left;
  }

  .slide-button-off {
    position: absolute;
    width: 45px;
    height: 50px;
    outline: none;
    border: none;
    margin: 15px 0 0 7px;
    font-size: 35px;
    color: white;
    float: left;
  }

  .slide-button:hover {
    color: lightgray !important;
  }

  aside {
    position: fixed;
    z-index: 40;
    width: 250px;
    margin-top: 64px;
    background: #e0e0e0;
    overflow-y: scroll;
    height: 82%;
  }



@media only screen and (min-width : 768px) {
  #drop {
    display: none !important;
  }

  #drop_menu {
    display: none;
    position: absolute;
    top: 52px;
    background: #355c7d;
    right: 30px;
    width: 200px;
    z-index: 1;
  }
  #drop_menu li {
    display: block;
    width: 200px;
  }
}

header {
  position: fixed;
  width: 100%;
  margin-top: -52px;
  z-index: 1000;
}

.tasks {
  position: fixed;
}
.language {
  padding: 0;
  list-style: none;
  width: 130px;
  float: right;
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 20px;
}
.language li {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
.language li a {
  text-decoration: none;
  padding-right: 4px;
}
.line {
  height: 25px;
  width: 1px;
  background: #fff;
  position: absolute;
}
.settings-menu {
  display: none;
}
.settings {
  outline: none;
}
.settings-menu li a.eng, .dropdown-menu a.choose_xs.eng {
  border-bottom: none;
}
.settings-menu {
  padding-left: 0px;
  text-align: center;
}

md-select-menu {
  overflow-y: scroll !important;
}

md-option {
  background: white;
}

section {
  padding: 0!important;
}

.add-button {
  background: #6c5b7b;
  color: white;
}

md-toolbar h2 {
  text-align: center;
}

md-headline {
  display: inline!important;
}

#names {
  margin-top: 12px; 
  width: 300px;
  text-align: right;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 180px;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}
 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
}

.groups h3, .all-tasks .md-headline {
  font-family: 'Bitter', 'Arial';
}

md-toolbar {
  font-family: 'BitterBold', 'Arial Bold';
  color: white!important;
}
