.head {
	border-bottom: 2px solid grey;
	margin-bottom: 0;
}

#logo {
	font-size: 20px;
	color: white;
	margin-top: 10px;
	width: 15%;
	float: left;
}

.head_li {
	font-size: 20px;
}

.choose {
	color: white;
	font-size: 17px;
	float: left;
	margin-top: 10px;
}

.choose_xs {
	text-align: center;
	padding-left: 24%;
}

.lang {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
