canvas.colorpicker {
  padding:10px;
  display: block;
  cursor: crosshair;
  margin: auto;
  border-radius: 50px;
}
.priority-block {
  margin-top: 15px;
}
md-card.priority-list {
  position: relative;
  margin-top: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
  &:first-child {
  margin-top: 100px;
  }
  md-card-content{
    padding: 8px 0 0 0;
    button.prior-name {
      text-align: left;
      min-width: 0px;
      height: 50px;
      font-size: 17px;
      padding-top: 5px;
      text-transform: none;
      font-weight: bold;
    }
    div {
      float: right;
      button.md-fab.btn-colorpicker {
        margin-right: 20px;
        color: black;
      }
      a.del {
        cursor: pointer;
        color: red;
        outline: none;
        position:absolute;
        right: 0px;
        top: 0px;
        background:transparent;
      }
    }
  }
}

div.form-picker {
  div.picker {
    margin-top: 15px;
    .btn-colorpicker {
      margin-right: 30px;
      border-radius:30px;
    }
    .md-raised {
      margin-left: 15px;
      float: right;
    }
    .md-raised.md-fab.md-edit {
      background: #35dd53;
      color: #fff;
    }
    .md-edit, .md-primary {
      font-size: 22px;
      background: #6c5b7b;
      padding-top: 2px;
    }
  }
}

form.priority-form {
  md-input-container {
    position: relative;
    span.value{
      display: block;
      position: absolute;
      z-index: 1;
      right: 0px;
      top: 5px;
    }
  }
}

.btn-priority-back {
  position: absolute;
  z-index: 1;


}
a.md-button.md-raised.md-fab {
  padding-top:5px;
  span {
    font-size: 22px;
  }
}

