canvas.colorpicker {
  padding:10px;
  display: block;
  cursor: crosshair;
  margin: auto;
  border-radius: 50px;
}
.priority-block {
  margin-top: 15px;
}

input[type='range'].value-picker {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 100%;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
  }
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
  &::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  &::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
  }
  &:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
  }
  &::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
  }
  &::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
  }
  &::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
  }
  &:focus::-ms-fill-lower {
    background: #888;
  }
  &::focus::-ms-fill-upper {
    background: #ccc;
  }
}

md-card.priority-list {
  position: relative;
  margin-top: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
  &:first-child {
  margin-top: 100px;
  }
  md-card-content{
    padding: 8px 0 0 0;
    button.prior-name {
      text-align: left;
      min-width: 0px;
      height: 50px;
      font-size: 17px;
      padding-top: 5px;
      text-transform: none;
      font-weight: bold;
    }
    div {
      float: right;
      button.md-fab.btn-colorpicker {
        margin-right: 20px;
        color: black;
      }
      a.del {
        cursor: pointer;
        color: red;
        outline: none;
        position:absolute;
        right: 0px;
        top: 0px;
        background:transparent;
      }
    }
  }
}

div.form-picker {
  div.picker {
    margin-top: 15px;
    .btn-colorpicker {
      margin-right: 30px;
      border-radius:30px;
    }
    .md-raised {
      margin-left: 15px;
      float: right;
    }
    .md-raised.md-fab.md-edit {
      background: #35dd53;
      color: #fff;
    }
    .md-edit, .md-primary {
      font-size: 22px;
      padding-top: 2px;
    }
  }
}

form.priority-form {
  md-input-container {
    position: relative;
    span.value{
      display: block;
      position: absolute;
      z-index: 1;
      right: 0px;
      top: 5px;
    }
  }
}

.btn-priority-back {
  position: absolute;
  z-index: 1;


}
a.md-button.md-raised.md-fab {
  padding-top:5px;
  span {
    font-size: 22px;
  }
}
