// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-task {
  padding: 10px;
}

md-toolbar, .tasks-list {
  h2 {
    padding-left: 10px;
  }
}

.add-task-btn {
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}

.tasks-list {
  h2 {
    padding: 10px;
    margin: auto 8px;
    color: #fff;
    background-color: rgb(63,81,181);
    border-radius: 5px 5px 0 0;
  }
}

.task-list-btn {
  bottom: -10px;
  float: right;
}

.task-edit {
  margin: 15px;
  padding: 15px;
    div {
      margin: 20px auto;
    }
}

.task-input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.label-link a {
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

.back-home {
    vertical-align: top !important;
}

.priority-style {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

