%div.col-sm-12{'style': 'padding: 0;'}
  .groups
    %div
      %h3 {{ 'categories' | translate }}
    %div{'class': 'category-slide'} 
      %form.add-group-form{'ng-submit': 'addCategory()'}
        %div
          %div.alert.alert-danger.same-name{'ng-show':'isError'}
            {{ 'same_category' | translate }}
          .input-group
            %input.form-control{'ng-model': 'category.name', placeholder: '{{ "category_placeholder" | translate }}', type: 'text'}/
            %span.input-group-btn
              %input.btn.btn-secondary.add-button{name: 'add-category', type: 'submit', value: 'Add'}/

      .group-list-container
        %md-list-item{'class': 'group-list', 'ng-click': 'filterByDefaultCategory()' }
          %div.group-name
            {{ 'all_categories' | translate }}
        %md-list-item.group-list{'ng-repeat': "category in categories | orderBy: '-created_at'", 'ng-drop': 'true', 'data-drop': "true", 'data-jqyoui-options': "{revert: 'invalid', helper: 'clone'}", 'jqyoui-droppable': "{index: {{$index}}, onDrop:'onDropCategory(category, $index)'}", 'ng-click': 'filterByCategory(category)', 'ng-dblclick': 'showAdvanced($event, category)'}
          %div.group-name
            {{category.name}}
          %span{'flex': ""}
          %span.glyphicon.glyphicon-pencil{"ng-click": "showAdvanced($event, category)"}
