%div
  .categories
    %div.add-new{'ng-click': 'toggleCategories()'}
      Categories
    .add-category{'class': 'category-slide', 'ng-class': 'showCategories'} 
      %form.category-form{'ng-submit': 'addCategory()'}
        %div.alert.alert-danger.same-name{'ng-show':'isError'}
          Name has already been taken
        .input-group
          %input.category-input.form-control{'ng-model': 'category.name', placeholder: 'Name of category', type: 'text'}/
          %span.input-group-btn
            %input.btn.btn-success.btn-category{name: 'add-category', type: 'submit', value: '+'}/
      %div.all-categories.row
        %div.category-name
          %a{'ng-href': '#'}
            All categories
        %div.category-list{'ng-repeat': "category in categories | orderBy: '-created_at'", 'ng-drop': 'true', 'data-drop': "true", 'data-jqyoui-options': "{revert: 'invalid', helper: 'clone'}", 'jqyoui-droppable': "{index: {{$index}}, onDrop:'onDropCategory(category, $index)', onOver:'onOver', onOut:'onOut'}", 'ng-class': '{over:over}'}
          %div.list
            %div.category-name
              %a.col-lg-8.col-md-6.col-sm-8.col-xs-6{'ng-href': '#'}
                %span{'ng-bind': 'category.name'}
              %span{'flex': ""}
              .md-button.md-primary.edit-button.col-lg-3.col-md-3.col-sm-3.col-xs-3{"ng-click": "showAdvanced($event, category)"}
                %span.glyphicon.glyphicon-pencil
      %hr 
             