%div.col-sm-6.col-sm-offset-3{'class':'profileClass'}
  %h2 My profile
  %form{'name':'profile'}
    %img#photo{'ng-src': '{{profile.social_avatar}}', 'ng-show': 'profile.social_avatar'}
    = image_tag('user.png', id: 'photo', 'ng-show': '!profile.social_avatar')
    %br
    %p
    %b First name:
    %span{'ng-bind': 'profile.first_name'}
    %br
    %p
    %b Last name:
    %span{'ng-bind': 'profile.last_name'}
    %br
    %p
    %b Sex:
    %span{'ng-bind': 'profile.sex'}
    %br
    %p
    %b Day:
    %span{'ng-bind': 'profile.day'}
    %b Month:
    %span{'ng-bind': 'profile.month'}
    %b Year:
    %span{'ng-bind': 'profile.year'}
    %br
    %p
    %b Country:
    %span{'ng-bind': 'profile.country'}
    %br
    %p
    %b City:
    %span{'ng-bind': 'profile.city'}
    %br
    %p
    %b Email:
    %span{'ng-bind': 'profile.email'}
    %br
    %br
    %br
    %a.btn.btn-success{'ui-sref': 'editProfile({id:user.id})'} Edit profile
