%div.col-sm-8.col-sm-offset-2{'class':'profile-class'}
  %md-card
    %md-toolbar
      %h2.md-headline My profile
      %a
        %span.glyphicon.glyphicon-edit{'ui-sref': 'editProfile({id:user.id})'}
          %md-tooltip Edit profile
    %md-card-content
      %form{'name':'profile'}
        %div.profile-photo.col-lg-5.col-md-5.col-sm-12.col-xs-12
          %img.img-responsive#photo{'ng-src': '{{profile.social_avatar}}', 'ng-show': 'profile.social_avatar'}
          = image_tag('user.png', id: 'photo', 'ng-show': '!profile.social_avatar')
        %div.profile-info.col-lg-6.col-md-6.col-sm-12.col-xs-12{'class':'info'}
          %br
          %p
          %b First name:
          %span{'ng-bind': 'profile.first_name'}
          %br
          %p
          %b Last name:
          %span{'ng-bind': 'profile.last_name'}
          %br
          %p
          %b Sex:
          %span{'ng-bind': 'profile.sex'}
          %br
          %p
          %b Day:
          %span{'ng-bind': 'profile.day'}
          %b Month:
          %span{'ng-bind': 'profile.month'}
          %b Year:
          %span{'ng-bind': 'profile.year'}
          %br
          %p
          %b Country:
          %span{'ng-bind': 'profile.country'}
          %br
          %p
          %b City:
          %span{'ng-bind': 'profile.city'}
          %br
          %p
          %b Email:
          %span{'ng-bind': 'profile.email'}

