!!!
%html{ 'ng-app': 'letsDoIt' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title LetsDoIt
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ 'ng-cloak': 'ng-cloak' }

    %header
      .container-fluid
        .row
          .head.navbar.navbar-inverse.navbar-static-top
            .container-fluid
              .row{'ng-controller':'NavController'}
                .navbar-header.col-lg-4.col-lg-offset-1.col-md-5.col-md-offset-0.col-sm-6.col-sm-offset-1
                  %button.navbar-toggle{ 'data-target': '#drop', 'data-toggle': 'collapse', type: 'button'}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  %a.logo#logo.col-xs-2.col-sm-2{'ui-sref':'home'}LetsDoIt
                  .nav.navbar-nav.choose_xs.choose{'ng-show':'signedIn'}
                    %img{'ng-src': '{{user.social_avatar}}', 'ui-sref': 'profile({id:user.id})', id: 'user', 'ng-show': 'user.social_avatar'}
                      = image_tag('user.png', id: 'user', 'ng-show': '!user.social_avatar', 'ui-sref': 'profile({id:user.id})')
                      %a#names{'ui-sref': 'profile({id:user.id})'} {{user.first_name}} {{user.last_name}}
                      %a#friends{'title': 'Friends','ui-sref': 'friendship'}
                        %i.fa.fa-users
                / Меню при розширенi телефона
                #drop.collapse.navbar-collapse.col-lg-6.col-sm-6.col-md-5.col-sm-5.col-lg-offset-5.col-md-offset-4.col-sm-offset-2
                  %ul.nav.navbar-nav
                    %li
                      %a.choose_xs.eng{'ng-click': 'changeLanguage("en")'} En
                    %span.line
                    %li
                      %a.choose_xs.eng{'ng-click': 'changeLanguage("ua")'} Ua
                    %li{'ng-show':'signedIn'}
                      %a.choose_xs.eng{'ng-click':'logout()'} Log Out

    %section{'ng-controller': 'MainController'}
      %ui-view
      %aside.col-sm-4
        %div{'ui-view':'categories'}
        %div{'ui-view':'groups'}
      %section.col-sm-8
        %div{'ui-view':'tasks'}
