<!DOCTYPE html>
<html>

<head>
  <title>LetsDoIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div style="background:#ddd">
	<h1>THIS IS Application layout</h1>
</div>

<%= yield %>

<div style="background:#ddd">
	<h1>THIS IS also Application layout</h1>
</div>

</body>
</html>
